body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}

.header {
  padding: 10px;
  background-color: firebrick;
  color: #fff;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
}

.header h1 {
  font-size: 25px;
  padding: 0;
  margin: 0;
  text-align: center;
}

.map {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.location-icon {
  font-size: 2rem;
  color: red;
}

.location-ice-icon {
  font-size: 2rem;
  color: snow;
}

.location-volcano-icon {
  font-size: 1rem;
  color: rgb(142, 110, 110);
  
}

.location-dust-icon {
  font-size: 2rem;
  color:rgb(226, 206, 170)
}

.location-info img {
  width: 100%;
  max-height: 100px;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(208, 202, 202, 0.3);
}


.location-earthQuakes-icon {
  font-size: 3rem;
  color: red;
}



.location-storm-icon {
  font-size: 3rem;
  color: grey;
}

.loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.loader img {
  width: 400px;
}

.loader h1 {
  margin-top: -100px;
}

.location-info {
  position: absolute;
  top: 60px;
  right: 30px;
  width: 200px;
  min-height: 50;
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  font-size: 18px;
  color: #fff;
}

@media only screen and (max-width: 600px) {
  .location-info {
    width: 50;
    right: 5px;
    top: 5px;
    font-size: 0.8rem;
  }
}

.location-info ul {
  list-style-type: none;
  padding: 0;
}

.location-info li {
  padding: 5px 0;
}